# INITIATION A PANDAS

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_table('heart.txt')

In [42]:
dataset

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
266,62,masculin,130,231,A,A,146,non,18,2,D,absence
267,64,masculin,110,211,A,C,144,oui,18,2,A,absence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence
269,35,feminin,138,183,A,A,182,non,14,1,A,absence

In [6]:
#verifier si il existe des donnÃ©es manquantes

dataset.isna()

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
265,False,False,False,False,False,False,False,False,False,False,False,False
266,False,False,False,False,False,False,False,False,False,False,False,False
267,False,False,False,False,False,False,False,False,False,False,False,False
268,False,False,False,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
#Debombrer le nombre de donnÃ©es manquantes par variables

dataset.isna().sum()

age           0
sexe          0
pression      0
cholester     0
sucre         0
electro       0
taux_max      0
angine        0
depression    0
pic           0
vaisseau      0
coeur         0
dtype: int64

In [8]:
#Pourcentage de donnÃ©es manquantes par variables

(dataset.isna().sum()/len(dataset))*100

age           0.0
sexe          0.0
pression      0.0
cholester     0.0
sucre         0.0
electro       0.0
taux_max      0.0
angine        0.0
depression    0.0
pic           0.0
vaisseau      0.0
coeur         0.0
dtype: float64

In [80]:
df=pd.read_table('heart_1.txt')

In [62]:
df

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100.0,234.0,A,A,156,non,1,1,B,presence
1,41,feminin,NaN,204.0,A,C,172,non,14,1,A,absence
2,58,masculin,150.0,270.0,A,C,111,oui,8,1,A,presence
3,53,masculin,140.0,203.0,B,C,155,oui,31,3,A,presence
4,41,masculin,130.0,214.0,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140.0,268.0,A,C,160,non,36,3,C,presence
266,62,masculin,130.0,231.0,A,A,146,non,18,2,D,absence
267,64,masculin,110.0,211.0,A,C,144,oui,18,2,A,absence
268,63,feminin,150.0,407.0,A,C,154,non,40,2,D,presence
269,35,feminin,138.0,183.0,A,A,182,non,14,1,A,absence

In [15]:
df.isna().sum()

age           0
sexe          0
pression      2
cholester     1
sucre         0
electro       0
taux_max      0
angine        3
depression    0
pic           0
vaisseau      0
coeur         0
dtype: int64

In [16]:
(df.isna().sum()/len(df))*100

age           0.000000
sexe          0.000000
pression      0.740741
cholester     0.370370
sucre         0.000000
electro       0.000000
taux_max      0.000000
angine        1.111111
depression    0.000000
pic           0.000000
vaisseau      0.000000
coeur         0.000000
dtype: float64

In [18]:
#dimension du dataframe
df.shape

(270, 12)

In [20]:
(df.isna().sum()/df.shape[0])*100

age           0.000000
sexe          0.000000
pression      0.740741
cholester     0.370370
sucre         0.000000
electro       0.000000
taux_max      0.000000
angine        1.111111
depression    0.000000
pic           0.000000
vaisseau      0.000000
coeur         0.000000
dtype: float64

In [22]:
#utilisation de la fonction len 
a=(df.isna().sum()/len(df))*100

In [23]:
a

age           0.000000
sexe          0.000000
pression      0.740741
cholester     0.370370
sucre         0.000000
electro       0.000000
taux_max      0.000000
angine        1.111111
depression    0.000000
pic           0.000000
vaisseau      0.000000
coeur         0.000000
dtype: float64

In [24]:
#ranger dans l'ordre croissant
a.sort_values(ascending=True)

age           0.000000
sexe          0.000000
sucre         0.000000
electro       0.000000
taux_max      0.000000
depression    0.000000
pic           0.000000
vaisseau      0.000000
coeur         0.000000
cholester     0.370370
pression      0.740741
angine        1.111111
dtype: float64

In [25]:
#ranger dans l'ordre dÃ©croissant
a.sort_values(ascending=False)

angine        1.111111
pression      0.740741
cholester     0.370370
coeur         0.000000
vaisseau      0.000000
pic           0.000000
depression    0.000000
taux_max      0.000000
electro       0.000000
sucre         0.000000
sexe          0.000000
age           0.000000
dtype: float64

In [27]:
#Obtenir la colonne presentant la plus grande donnÃ©e manquante

df.isna().sum().nlargest(3)

angine       3
pression     2
cholester    1
dtype: int64

In [33]:
#remplacer la valeur manquante de pression par la pression_moyenne

df['pression'].fillna(df['pression'].mean(),inplace=True) # inplace pour garder en memoire

In [34]:
df['pression'].isna().any()

False

In [43]:
#imputation sur plusieurs variables

df.fillna({'cholester':df['cholester'].mean(), 'pression':df['pression'].mean(),})

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100.000000,234.0,A,A,156,non,1,1,B,presence
1,41,feminin,131.261194,204.0,A,C,172,non,14,1,A,absence
2,58,masculin,150.000000,270.0,A,C,111,oui,8,1,A,presence
3,53,masculin,140.000000,203.0,B,C,155,oui,31,3,A,presence
4,41,masculin,130.000000,214.0,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140.000000,268.0,A,C,160,non,36,3,C,presence
266,62,masculin,130.000000,231.0,A,A,146,non,18,2,D,absence
267,64,masculin,110.000000,211.0,A,C,144,oui,18,2,A,absence
268,63,feminin,150.000000,407.0,A,C,154,non,40,2,D,presence
269,35,feminin,138.000000,183.0,A,A,182,non,14,1,A,absence

In [50]:
#Tri a plat de la variable angine

df['angine'].value_counts()

non    179
oui     88
Name: angine, dtype: int64

In [59]:
#imputer par la moyenne et le mode 

df.fillna({'cholester':df['cholester'].mean(), 'pression':df['pression'].mean(), 'angine':'non'},inplace=True)

In [60]:
df.isna().sum()

age           0
sexe          0
pression      0
cholester     0
sucre         0
electro       0
taux_max      0
angine        0
depression    0
pic           0
vaisseau      0
coeur         0
dtype: int64

In [82]:
#supprimer la colonne angine

df.drop(["angine"], axis=1)         # del df['angine']

,age,sexe,pression,cholester,sucre,electro,taux_max,depression,pic,vaisseau,coeur
0,58,masculin,100.0,234.0,A,A,156,1,1,B,presence
1,41,feminin,NaN,204.0,A,C,172,14,1,A,absence
2,58,masculin,150.0,270.0,A,C,111,8,1,A,presence
3,53,masculin,140.0,203.0,B,C,155,31,3,A,presence
4,41,masculin,130.0,214.0,A,C,168,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140.0,268.0,A,C,160,36,3,C,presence
266,62,masculin,130.0,231.0,A,A,146,18,2,D,absence
267,64,masculin,110.0,211.0,A,C,144,18,2,A,absence
268,63,feminin,150.0,407.0,A,C,154,40,2,D,presence
269,35,feminin,138.0,183.0,A,A,182,14,1,A,absence

In [68]:
df

,age,sexe,pression,cholester,sucre,electro,taux_max,depression,pic,vaisseau,coeur
0,58,masculin,100.0,234.0,A,A,156,1,1,B,presence
1,41,feminin,NaN,204.0,A,C,172,14,1,A,absence
2,58,masculin,150.0,270.0,A,C,111,8,1,A,presence
3,53,masculin,140.0,203.0,B,C,155,31,3,A,presence
4,41,masculin,130.0,214.0,A,C,168,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140.0,268.0,A,C,160,36,3,C,presence
266,62,masculin,130.0,231.0,A,A,146,18,2,D,absence
267,64,masculin,110.0,211.0,A,C,144,18,2,A,absence
268,63,feminin,150.0,407.0,A,C,154,40,2,D,presence
269,35,feminin,138.0,183.0,A,A,182,14,1,A,absence

In [86]:
#supprimer les lignes qui contiennent les valeurs manquantes suivant la variable cholester

df.dropna(axis=0,subset=['cholester'],inplace=True)

In [84]:
df

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100.0,234.0,A,A,156,non,1,1,B,presence
1,41,feminin,NaN,204.0,A,C,172,non,14,1,A,absence
2,58,masculin,150.0,270.0,A,C,111,oui,8,1,A,presence
3,53,masculin,140.0,203.0,B,C,155,oui,31,3,A,presence
4,41,masculin,130.0,214.0,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140.0,268.0,A,C,160,non,36,3,C,presence
266,62,masculin,130.0,231.0,A,A,146,non,18,2,D,absence
267,64,masculin,110.0,211.0,A,C,144,oui,18,2,A,absence
268,63,feminin,150.0,407.0,A,C,154,non,40,2,D,presence
269,35,feminin,138.0,183.0,A,A,182,non,14,1,A,absence

In [85]:
#Donner le nombre de femmes et d'hommes

df['sexe'].value_counts()

masculin    182
feminin      87
Name: sexe, dtype: int64

In [95]:
nbre_masc=(df['sexe']=='masculin').sum()
nbre_fem=(df['sexe']=='feminin').sum()

In [98]:
print("nbre_masc:",nbre_masc, "nbre_fem:",nbre_fem)

nbre_masc: 182 nbre_fem: 87

In [107]:
#Donner le tableau de contingence des personnes presentant une maladie cardiaque ou pas selon le sexe

tb=pd.crosstab(df['sexe'],df['coeur'])
tb

coeur     absence  presence
sexe
feminin        67        20
masculin       83        99

In [108]:
#le type du tableau

type(tb)

pandas.core.frame.DataFrame

In [143]:
#calculer un taux d'erreur

(tb.iloc[0,1]+tb.iloc[1,0])/(tb.sum().sum())*100

38.28996282527881

In [ ]:
# Veille tecnologique sur les algorithmes de machine learning

- RÃ©gression linÃ©aire

- Regression logistique

- Arbre de dÃ©cision

- support vecteur machine

- Analyse discriminante

- randomforest

- Bagging

- Boosting